[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
colorama = "*"
click = "*"
setuptools = "*"
jinja2 = "*"
fasterfastapi = {file = "."}
redbaron = "*"

[dev-packages]

[requires]
python_version = "3.12"
