[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
colorama = "*"
click = "*"
setuptools = "*"
jinja2 = "*"
redbaron = "*"
fasterfastapi = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
